{% extends 'base.html.twig' %}

{% block title %}MON PANIER{% endblock %}

{% block body %}

{# {# {{dump()}} #}

{# {{dump(dataPanier)}} #}

<!-- cart + summary -->

<section class="bg-light my-5">
  <div class="container">
    <div class="row">

      <!-- cart -->
      <div class="col-lg-9">
        <div class="card border shadow-0">
          <div class="m-4">
            <h4 class="card-title mb-4">Mon panier</h4>              

              {% for data in dataPanier %}
               
                <!-- ligne Article Start -->
                {{ include('/panier/panierLigneArticle.html.twig') }}  
                <!-- ligne Article End -->               

              {% else %}
                Votre panier est vide
              {% endfor %}  
      
          </div>
        </div>
      </div>  



      {# adresse et validation #}
     

      <div class="col-lg-9 mt-4">
      <form action="{{ path('app_paiement_index') }}" method="POST" id="aePanierValidate" name="aePanierValidate"> 

          <div class="card border shadow-0">
            <div class="m-4">
                <!-- ligne bloc livraison Start -->
                {{ include('/panier/panierBlocLivraison.html.twig') }}  
                <!-- ligne bloc livraison End -->
            </div>
          </div>
      </div>
        <!-- cart -->

      <!-- summary -->
      <div class="col-lg-3 mt-4">

        {# {{ include('/panier/panierBlocCoupon.html.twig') }}   #}        
        
        {{ include('/panier/panierBlocTotal.html.twig') }}         
      </form>
      </div>
        <!-- summary -->

       
     
    </div>

    <div class="row">
      <div class=" pt-4 mx-4 mb-4">
        <p>
          <b>FRANCE MÉTROPOLITAINE ET MONACO</b> : Pour toute commande passée avant 14h<br />
          Chronopost : 24 à 48h* du lundi au jeudi<br />
          *jours ouvrables
        </p>
      </div>
    </div>


  </div>
</section>

<!-- cart + summary -->


<!-- ligne bloc articles recommandés Start -->
{# {{ include('/panier/panierBlocTotal.html.twig') }}   #}
<!-- ligne bloc articles recommandés End -->
{% endblock %}
