{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}

{# {# {{dump()}} #}

{# {{dump(dataPanier)}} #}

<!-- cart + summary -->
<section class="bg-light my-5">
  <div class="container">
    <div class="row">

      <!-- cart -->
      <div class="col-lg-9">
        <div class="card border shadow-0">
          <div class="m-4">
            <h4 class="card-title mb-4">Your shopping cart</h4>            
            

              {% for data in dataPanier %}
               
                <!-- ligne Article Start -->
                {{ include('/panier/panierLigneArticle.html.twig') }}  
                <!-- ligne Article End -->               

                {% else %}
                  panier vide
               {% endfor %}           

              <!-- ligne bloc livraison Start -->
              {{ include('/panier/panierBlocLivraison.html.twig') }}  
              <!-- ligne bloc livraison End -->

          </div>
        </div>
      </div>
      <!-- cart -->

      <!-- summary -->
      <div class="col-lg-3">


        <!-- ligne bloc livraison Start -->
        {# {{ include('/panier/panierBlocCoupon.html.twig') }}   #}
        <!-- ligne bloc livraison End -->

        <!-- ligne bloc livraison Start -->
        {{ include('/panier/panierBlocTotal.html.twig') }}  
        <!-- ligne bloc livraison End -->
        
        
      </div>
      <!-- summary -->
    </div>
  </div>
</section>
<!-- cart + summary -->


<!-- ligne bloc articles recommandés Start -->
{# {{ include('/panier/panierBlocTotal.html.twig') }}   #}
<!-- ligne bloc articles recommandés End -->
{% endblock %}
