



<div class="row gy-3 mb-4">

  <div class="col-lg-5">
    <div class="me-lg-5">
      
      <div class="d-flex">

        <img 
          {% if data.article.visuels is empty %}
            src="{{ asset('images/cookies/imageDefault.jpg') }}" 
          {% else %}
           src="{{ asset('images/cookies/'~ data.article.visuels[0]) }}" 
          {% endif %}
          class="border rounded me-3" style="width: 96px; height: 96px;" />

        <div class="">
          <a href="#" class="nav-link">{{data.article.nomArticle}}</a>
          {# <p class="text-muted">{{data.article.descriptionArticle}}</p> #}
        </div>
      </div>

    </div>
  </div>

  <div class="col-lg-2 col-sm-8 col-6 d-flex flex-row flex-lg-column flex-xl-row text-nowrap">
    
    
    <form action="{{path ('app_updateFromPanier') }}" id="formArticle{{data.article.id}}" name="formArticle{{data.article.id}}" method="POST">

      <div class="" style="margin-right:15px;">
        <div class="input-group mb-3" style="width: 130px;">
          {# <button class="btn btn-white border border-secondary px-3" type="button" id="button-addon1" data-mdb-ripple-color="dark">
            <i class="fas fa-minus"></i>
          </button>
          <input type="text" class="form-control text-center border border-secondary" placeholder="1" aria-label="Example text with button addon" aria-describedby="button-addon1" value="{{data.quantite}}" />
          <button class="btn btn-white border border-secondary px-3" type="button" id="button-addon2" data-mdb-ripple-color="dark">
            <i class="fas fa-plus"></i>
          </button> #}

          <button 
            class="btn btn-white border border-secondary px-3" 
            type="button" id="button-addon1" 
            data-mdb-ripple-color="dark" 
            onclick="modifQtity('moins', 1, {{data.article.id}});"
            >
            <i class="fas fa-minus"></i>
          </button>

          <input 
            type="text" 
            class="form-control text-center border border-secondary" 
            placeholder="1" 
            aria-label="Example text with button addon" 
            aria-describedby="button-addon1" 
            value="{{data.quantite}}" 
            id="articleQtity{{data.article.id}}" 
            name="articleQtity" 
            readonly 
          />

          <button 
            class="btn btn-white border border-secondary px-3" 
            type="button" 
            id="button-addon2" 
            data-mdb-ripple-color="dark" 
            onclick="modifQtity('plus', 1, {{data.article.id}});"
          >
            <i class="fas fa-plus"></i>
          </button>

        </div>

        <input type="hidden" name="articleId"  value="{{data.article.id}}" />
        <button type="submit" class="btn btn-primary shadow-0 me-1">Modifier</button>
        {# <a href="{{path ('app_updateFromPanier', {articleId: data.article.id, articleQtity: articleQtity} ) }}" class="btn btn-primary shadow-0 me-1">Modifier</a> #}
        
      </div>
    </form>


    <div class="">
      <small class="text-muted text-nowrap"> {{data.article.prixArticle}} € / par boite </small> <br />
      <text class="h6">sous-total : {{data.article.prixArticle * data.quantite}}  €</text>
      
    </div>

  </div>

  <div class="col-lg col-sm-4 d-flex justify-content-sm-center justify-content-md-start justify-content-lg-center justify-content-xl-end mb-2">
    <div class="float-md-end">
      {# <a href="#!" class="btn btn-light border px-2 icon-hover-primary"><i class="fas fa-heart fa-lg px-1 text-secondary"></i></a> #}
      <a href="{{path ('app_deleteFromPanier', {idArticle :  data.article.id } ) }}" class="btn btn-light border text-danger icon-hover-danger"> Supprimer</a>
    </div>
  </div>


</div>