{% extends 'base.html.twig' %}

{% block title %}MES COMMANDES{% endblock %}

{% block body %}

<section class="bg-light">
  <div class="container">
    <div class="row">

        

        <table class="table">
            <thead>
                <tr>
                    {# <th>Id</th> #}
                    <th><a href="{{ path('app_adresse_index') }}">Mes adresses</a></th>
                    <th><a href="{{ path('app_adresse_new') }}">Ajouter une adresse</a></th>
                    <th><a href="{{ path('app_facture_index') }}">Mes Factures</a></th>
                </tr>
            </thead>
        </table>

        <div class="mb-3">
            <i class="fa-regular fa-envelope" style="color: var(--mdb-link-color);"></i><span style="color: var(--mdb-link-color);"><b> {{ app.user.userIdentifier }}</b></span>
            <a href="{{ path('app_logout') }}">Déconnexion</a> 
        </div>




    <h1>Commandes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateCommande</th>
                <th>EtatCommande</th>
                <th>TotalCommande</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td>{{ commande.id }}</td>
                <td>{{ commande.dateCommande ? commande.dateCommande|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ commande.etatCommande }}</td>
                <td>{{ commande.totalCommande }}</td>
                <td>
                    <a href="{{ path('app_commande_show', {'id': commande.id}) }}">voir</a>
                    {# <a href="{{ path('app_commande_edit', {'id': commande.id}) }}">edit</a> #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('app_commande_new') }}">Create new</a> #}


    </div>
  </div>
</section> 
{% endblock %}
