{% extends 'base.html.twig' %}



{% block title %}PAIEMENT{% endblock %}

{% block body %}

{# {{dump(panierSess)}}

{{dump(addLivrSess)}}

{{dump(addFactSess)}}

{{dump(totalPanier)}} #}


<section class="bg-light my-5">
	<div class="container">
		<div class="row">

			<div class="col-lg-6 mt-4">
			

				<div class="card border shadow-0">
					<div class="m-4">
						{# {{dump(addLivrSess)}} #}
						<div class="card-body d-flex flex-column">
							<h5 class="card-title"><i class="fas fa-truck text-muted fa-lg"></i>  Livraison</h5>
							<p class="card-text">{{addLivrSess.nomAdresse}} {{addLivrSess.prenomAdresse}}</p>
							<p class="card-text">{{addLivrSess.rueAdresse}}</p>
							<p class="card-text">{{addLivrSess.cpAdresse}}</p>
							<p class="card-text">{{addLivrSess.villeAdresse}}</p>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-lg-6 mt-4">
				<div class="card border shadow-0">
					<div class="m-4">
						{# {{dump(addFactSess)}} #}
						<div class="card-body d-flex flex-column">
							<h5 class="card-title"><i class="fab fa-lg fa-cc-paypal "></i> Livraison</h5>
							<p class="card-text">{{addFactSess.nomAdresse}} {{addFactSess.prenomAdresse}}</p>
							<p class="card-text">{{addFactSess.rueAdresse}}</p>
							<p class="card-text">{{addFactSess.cpAdresse}}</p>
							<p class="card-text">{{addFactSess.villeAdresse}}</p>	
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">

			<div class="col-lg-6 mt-4">
			

				<div class="card border shadow-0">
					<div class="m-4">
						<b>Total de la commande * : {{ totalPanier}} €</b><br />
						( * frais de livraison inclus )
					</div>
				</div>
			</div>	


			<div class="col-lg-6 mt-4">
			

				<div class="card border shadow-0">
					<div class="m-4">
						<div id="paypal-boutons"></div> 
					</div>
				</div>
			</div>			
		</div>

	</div>
</section>



{% endblock %}


{% block javascripts %}
<script src="https://www.paypal.com/sdk/js?client-id=AR05guCj-nHFsi9iXoOWUH7P0P1uV7ooE1hEAC8HuWEKtlGFSDO4BdxxiCwYHOMIB6AqxkXF7uJZ25Lw&currency=EUR&locale=fr_FR"></script>
<script>
	// 2. Afficher le bouton PayPal
	paypal.Buttons({

	// Configurer la transaction
	createOrder : function (data, actions) {

		// Les produits à payer avec leurs details
          /*
		var produits = [
			{
				name : "Produit 1",
				description : "Description du produit 1",
				quantity : 1,
				unit_amount : { value : 9.9, currency_code : "USD" }
			},
			{
				name : "Produit 2",
				description : "Description du produit 2",
				quantity : 1,
				unit_amount : { value : 8.0, currency_code : "USD" }
			}
		];
          */

          
          /*
		// Le total des produits
		var total_amount = produits.reduce(function (total, product) {
			return total + product.unit_amount.value * product.quantity;
		}, 0); 
          */
          var total_amount = {{totalPanier}};

		// La transaction
		return actions.order.create({
			purchase_units : [{
				//items : produits,
				amount : {
					value : total_amount,
					currency_code : "EUR",
					breakdown : {
						item_total : { value : total_amount, currency_code : "EUR" }
					}
				}
			}]
		});
	},

     // Finalize the transaction
     onApprove: function (data, actions) {
          return actions.order.capture().then(function (orderData) {
               // Successful capture! For demo purposes:
              
               console.log(orderData);
               fetch("{{ path('app_paiement_process') }}", {
               method: 'POST',
               body: "order=" + JSON.stringify(orderData),
               headers: new Headers({
                    'Content-Type': 'application/x-www-form-urlencoded'
               })
               }) /* */
			.then(function (response) {
                    console.log("truc"+response.status)
                 
               if (response.status == 200) {
                    window.location.href = "{{ path('app_paiement_merci') }}";
               } else {
                    //alert('Une erreur est survenue');
                    window.location.href = "{{ path('app_paiement_probleme') }}";
               }
			
               }).catch(function(erreur){
                    console.log(erreur)
               });
			/* */
               
          });
     }

}).render("#paypal-boutons");
</script>
{% endblock %}





