{% extends 'base.html.twig' %}

{% block title %}MES ADRESSES{% endblock %}

{% block body %}


<section class="bg-light">
  <div class="container">
    <div class="row">


        

        <table class="table">
            <thead>
                <tr>
                    {# <th>Id</th> #}
                    <th><a href="{{ path('app_adresse_new') }}">Ajouter une adresse</a></th>
                    <th><a href="{{ path('app_commande_index') }}">Mes Commandes</a></th>
                    <th><a href="{{ path('app_facture_index') }}">Mes Factures</a></th>
                </tr>
            </thead>
        </table>

        <div class="mb-3">
            <i class="fa-regular fa-envelope" style="color: var(--mdb-link-color);"></i><span style="color: var(--mdb-link-color);"><b> {{ app.user.userIdentifier }}</b></span>
            <a href="{{ path('app_logout') }}">Déconnexion</a> 
        </div>

        <h1>Adresses</h1>

        <table class="table">
            <thead>
                <tr>
                    {# <th>Id</th> #}
                    <th>Type d'adresse</th>
                    <th>Nom</th>
                    <th>Adresse</th>
                    <th>action</th>
                </tr>
            </thead>
            <tbody>
            {% for adresse in adresses %}
                <tr>
                    {# <td>{{ adresse.id }}</td> #}
                    <td>{{ adresse.typeAdresse }}</td>
                    <td>
                        {{ adresse.nomAdresse }}<br />
                        {{ adresse.prenomAdresse }}
                    </td>
                    <td>
                        {{ adresse.rueAdresse }}<br />
                        {{ adresse.cpAdresse }}<br />
                         {{ adresse.villeAdresse }}
                    </td>
                    <td>
                        <a href="{{ path('app_adresse_show', {'id': adresse.id}) }}">voir</a>
                        <a href="{{ path('app_adresse_edit', {'id': adresse.id}) }}">éditer</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {# <a href="{{ path('app_adresse_new') }}">Create new</a> #}


    </div>
  </div>
</section>       
{% endblock %}
