{% extends 'base.html.twig' %}

{% block title %}Adresse index{% endblock %}

{% block body %}


<section class="bg-light my-5">
  <div class="container">
    <div class="row">


        <h1>Adresse index</h1>

        <table class="table">
            <thead>
                <tr>
                    {# <th>Id</th> #}
                    <th>TypeAdresse</th>
                    <th>Nom</th>
                    <th>Adresse</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for adresse in adresses %}
                <tr>
                    {# <td>{{ adresse.id }}</td> #}
                    <td>{{ adresse.typeAdresse }}</td>
                    <td>
                        {{ adresse.nomAdresse }}<br />
                        {{ adresse.prenomAdresse }}
                    </td>
                    <td>
                        {{ adresse.rueAdresse }}<br />
                        {{ adresse.cpAdresse }}<br />
                         {{ adresse.villeAdresse }}
                    </td>
                    <td>
                        <a href="{{ path('app_adresse_show', {'id': adresse.id}) }}">show</a>
                        <a href="{{ path('app_adresse_edit', {'id': adresse.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_adresse_new') }}">Create new</a>


    </div>
  </div>
</section>       
{% endblock %}
