<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>


<!-- Font Awesome -->
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
  rel="stylesheet"
/>
<!-- Google Fonts -->
<link
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
  rel="stylesheet"
/>




        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <!-- MDB -->
        <link
          href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.3.0/mdb.min.css"
          rel="stylesheet"
        />
        {% endblock %}

       
    </head>
    <body>


        <!-- header Start -->
        {{ include('/header.html.twig') }}  
        <!-- header End -->


        {% block body %}{% endblock %}

        
         <!-- footer Start -->
        {{ include('/footer.html.twig') }}  
        <!-- footer End -->


         
        <!-- MDB -->
       {% block javascripts %}
             <script
          type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.3.0/mdb.min.js"
        ></script>
         {# <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script> #}

            {{ encore_entry_script_tags('app') }}
            {# {{ encore_entry_script_tags('jquery') }}#}
              <script>
                  {# $("body").css("background", "deepskyblue"); #}
              </script> 
        


        <script>            
            //function pour gerer les + et - des quantités
            function modifQtity(operator, qtity, id){

              //console.log(operator+' / '+qtity+' / '+id);
              //console.log( document.getElementById("articleQtity"+id).value); 
              quantite = parseInt(document.getElementById("articleQtity"+id).value)
              console.log("quantite : "+ quantite);
              
              //Verifier que quantite >0 et <10 limite de max boite
              
             
              
             
                switch (operator) {
                  case 'plus':
                    if(parseInt(quantite)+1 > 10 ){  
                      console.log("quantite+1 : "+ parseInt(quantite)+parseInt(1));              
                      console.log("+1 max");
                      return;
                    }
                    document.getElementById("articleQtity"+id).value = quantite+1;
                    break;
                  case 'moins':
                    if(parseInt(quantite)-1 < 0 ){  
                      console.log("quantite+1 : "+ parseInt(quantite)-1);                
                      console.log("-1 min");
                      return;
                    }
                    document.getElementById("articleQtity"+id).value = quantite-1;
                      break;
                  //case 'egal':
                    //document.getElementById("articleQtity"+id).value = qtity;
                    //break; 
                }  
              
            }
          </script>


          

         
          <script>
            //AJAX
              //on peut voir les données envoyées dans l'outil de dev du navigateur
              // onglet reseau 
              // filtre fetch/XHR
              //cliquer sur l'url appelée => onglet charge utile


            async function modifPanier(id){ 
              qtity = $('#articleQtity'+id).val();
              
              //console.log(id + ' ' + qtity);
              //console.log("modifPanier");

              const traitement =  data =>{ 
                  
                  //console.log(data);
                  console.log(data.message);
                  $('#ajaxPanierMaj'+id).html('<b>'+data.message+'</b>');
                 

              }

              const url = '{{ path('app_modifPanier') }}';

              const params = {
                  id: id,
                  qtity: qtity 
              };
              const options = {
                  method: 'POST',
                  body: JSON.stringify( params )  
              };        

              fetch(url, options)
              .then(res => res.json())
              .then(traitement )
              {# .error(e => console.error(e)) #}
             
               
                
            } 

            {# let  toto = res => res.json();
            let  aucarré = x => x*x;
            let  toto1 = (res,res1) => {return res.json()} ;
           
            function toto9(res) {
              return res.json()
            } #}



           
            {# $( "button" ).on( "click", function() {
              $( this ).replaceWith( "<div>xxx" + $( this ).text() + "xxxx</div>" );
            }); #}
           



          </script>




<script>
//gestion des checkbox des adresses

$('.checkoptionF').click(function() {
    $('.checkoptionF').not(this).prop('checked', false);
});

$('.checkoptionL').click(function() {
    $('.checkoptionL').not(this).prop('checked', false);
});
</script>





<script>
//gestion des adresses sur la page panier

  //document.getElementById('aeValidate').onclick = function() {      
  function verifAdresses() {  
     
    var messageErreur = "";
    var flagLivraison = "";
    var flagFacturation = "";

    var checkboxesLivraison = document.getElementsByName('adresseLivraisonCHBX');
    for (var checkboxLivraison of checkboxesLivraison)
    {
      if (checkboxLivraison.checked) {
          console.log('adresse livraison ok');
          flagLivraison = "ok";
      }
    }

    var checkboxesFacturation = document.getElementsByName('adresseFacturationCHBX');
    for (var checkboxFacturation of checkboxesFacturation)
    {
      if (checkboxFacturation.checked) {
          console.log('adresse Facturation ok');
          flagFacturation = "ok";
      }
    }

    if(flagLivraison == ""){
       messageErreur = "Vous devez choisir ou renseigner une adresse de livraison<br />";       
    }

    if(flagFacturation == ""){
        messageErreur += "Vous devez choisir ou renseigner une adresse de facturation";
    }


    if(flagFacturation == "ok" && flagLivraison == "ok"){
       console.log('redirection paiement');
       $('form#aePanierValidate').submit();

    }
    else{
      console.log('erreur');
      $('#errorAdresses').show();
      $('#errorAdresses').html(messageErreur);
    }


  }

</script>























          {% endblock %}



        
    </body>
</html>
