{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>NomUser</th>
                <td>{{ user.nomUser }}</td>
            </tr>
            <tr>
                <th>PrenomUser</th>
                <td>{{ user.prenomUser }}</td>
            </tr>
            <tr>
                <th>EmailUser</th>
                <td>{{ user.emailUser }}</td>
            </tr>
            <tr>
                <th>MdpUser</th>
                <td>{{ user.mdpUser }}</td>
            </tr>
            <tr>
                <th>TokenUser</th>
                <td>{{ user.tokenUser }}</td>
            </tr>
            <tr>
                <th>StatusUser</th>
                <td>{{ user.statusUser }}</td>
            </tr>
            <tr>
                <th>DateIscriptionUser</th>
                <td>{{ user.dateIscriptionUser ? user.dateIscriptionUser|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_user_index') }}">back to list</a>

    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
